/******************/
/*  L A Y O U T   */
/******************/
* {box-sizing:border-box}

.high h1, .high nav, .header {padding:.5em 1em}
.high nav {text-align:right}
.high nav .buttons li {display: inline-block;margin:0 .25em;padding:.5em;border-radius:3px}

.header, .footer {padding:1em}
pre,code {padding:.25em}
.contact {padding:1.5em 0 2em 0}

.row div {padding:.25em 1em}

.c3 {margin:1.5em .25em;padding:1em;vertical-align:top;border-radius:2px}

.right {text-align:center;padding:1em}

.dense {margin:0;padding:.2em}

.fa-stack .label {display:none}
.fa-stack {margin:0}

.fa-v:before{content:"V"}

/*****************/
/*    T Y P O     */
/******************/
html {font-family:"Lato",Sans-Serif;font-size:1em}
.row {font-size:0}
.row h1, .row div, .row nav {font-size: initial}
.row nav .buttons li a {text-decoration:none;font-size:initial}

.header, .footer {text-align:center}
.center {text-align:center}

.fa-stack a {text-decoration: none}

.jumbo {font-size:400%}
.jumbo .fa-stack-1x {line-height:200%}

/******************/
/*  C O L O R S    */
/*******************/

body {color:#666}
a {color:#ec562a}
  a:hover {color:black}
  a:visited {color:#efa53d}

.high nav .buttons li {border:#ec562a solid 1px}
   .high nav .buttons li a {color:#ec562a}
  .high nav .buttons li:hover {background:#ddd}


.header,.footer,pre,code {color:#ddd;background:#333;background-image: linear-gradient(33deg,#666,#333,#333);}
  .header a {color:#ec562a;font-weight:bold;text-decoration:none}

.c3 {box-shadow:0px 4px 9px #643a33}

.fa-stack {color:#ec562a}
  .fa-stack a {color:white}
  .fa-stack:hover i {color:#bbb}
  .fa-stack:hover a {color:#ec562a}



/***********************/
/* R E S P O N S I V E */
/***********************/

/* Printer */
@media print {
  }

/* Larger than mobile */
@media (min-width: 400px) {
  }

/* Larger than phablet */
@media (min-width: 550px) {

  }

/* smaller than tablet */
@media (max-width: 750px) {

	}

/* Larger than tablet */
@media (min-width: 750px) {
  .high h1, .high nav {width:50%;display: inline-block}

  .header {text-align:left}
  .header p {max-width:800px;margin:1em auto;}

  .right {text-align:right;padding}
  }

/* Smoothing intervalue */
@media (min-width: 900px) {
   .c3 {width:49%;display: inline-block;margin:1em .5%}
   .c3:nth-child(3) {margin-left:25%}

  }

/* Larger than desktop */
@media (min-width: 1000px) {
   .c3 {width:32%;display: inline-block;margin:1em .5%}
   .c3:nth-child(3) {margin-left:.5%}
  .row {max-width:1200px;margin:auto}

	}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

	}
